/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout principal */
body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
}

.admin-layout {
    display: flex;
    width: 100%;
}

/* Sidebar */
.sidebar {
    width: 200px;
    padding: 20px;
    border-radius: 20px 0px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar a.active {
    font-weight: bold;
}

/* Contenido principal */
.admin-content {
    flex: 1;
    padding: 30px;
    background-color: rgb(175, 173, 173);
}

/* Formulario */
.admin-form {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.admin-form .field {
    margin-bottom: 15px;
}

.admin-form label {
    display: block;
    margin-bottom: 5px;
}

.admin-form input,
.admin-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

/* Botón */
.admin-form button.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Tabla de productos */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.table th {
    font-weight: bold;
}

.table tr:hover {
    background-color: #f9f9f9;
}

.table button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
